.up {
  box-sizing: border-box;
  border-radius: 50%;
  position: fixed;
  bottom: -15%;
  right: 5%;
  text-decoration: none;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: .8;
  transition: .3s;
}

.up:hover {
  opacity: 1;
  background: #f2f2f2;
}