.menu__drop-down_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  position: absolute;
  left: 35px;
  top: -3px;
  z-index: 0;
}

@media screen and (min-width: 500px) {
  .menu__drop-down {
    display: none;
  }
}

