.root__header {
  padding: 48px 68px 88px;
}

@media screen and (max-width: 1024px) {
  .root__header {
    padding-left: calc((100vw - 768px)/(1024 - 768)*(68 - 30) + 30px);
    padding-right: calc((100vw - 768px)/(1024 - 768)*(68 - 30) + 30px);
  }
}

@media screen and (max-width: 767px) {
  .root__header {
    padding: 30px 30px 40px
  }
}

@media screen and (max-width: 500px) {
  .root__header {
    padding: 30px 20px 40px
  }
}
