.form__submit {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .8;
  position: relative;
}


/* .form__submit:hover {
  border-bottom: 1px solid #000;
  opacity: 1;
  transition: 1s;
} */

.form__submit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #000;
  transform: scaleX(0);
  transition: .3s;
}

.form__submit:hover::before {
  transform: scaleX(1);
}