.form__submit {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .8;
  position: relative;
}

.form__submit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 1px solid #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.form__submit:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
