.menu__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  position: relative;
}

.menu__link:hover {
  opacity: .7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: 2px solid #FED4B4;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__link:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

@media screen and (max-width: 500px) {
  .menu__link::before {
    border-bottom: 2px solid #000;
  }
}
