.feedback {
  padding: 0 68px 0;
}

@media screen and (max-width: 1024px) {
  .feedback {
    padding: 0 calc((100vw - 768px)/(1024 - 768)*(68 - 20) + 20px) 0;
  }
}

@media screen and (max-width: 768px) {
  .feedback {
    padding: 0 20px 0;
  }
}
