.form__input {
  width: 90%;
  margin: 0 auto 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input::-webkit-input-placeholder {
  opacity: .8;
}

.form__input::-moz-placeholder {
  opacity: .8;
}

.form__input:-ms-input-placeholder {
  opacity: .8;
}

.form__input::-ms-input-placeholder {
  opacity: .8;
}

.form__input::placeholder {
  opacity: .8;
}

.form__input:focus {
  border-bottom: 1px solid #000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
