.mark__subtitle {
  color: #FED4B4;
  margin: 0 0 30px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
}

@media screen and (max-width:768px) {
  .mark__subtitle {
    margin-bottom: 10px;
  }
}
