.footer {
  min-height: 620px;
  background-color: #FECDA7;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .footer {
    min-height: 520px
  }
}

@media screen and (max-width: 777px) {
  .footer {
    min-height: 360px
  }
}

@media screen and (max-width: 680px) {
  .footer {
    min-height: 300px
  }
}