@-webkit-keyframes open {
  from {
    left: -150px;
}
  to {
    left: 35px;
}
}

@keyframes open {
  from {
    left: -150px;
}
  to {
    left: 35px;
}
}

.animation__open{
  -webkit-animation: open ease-in-out 0.5s;
          animation: open ease-in-out 0.5s;
}
