  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*   @media screen and (max-width:410px) {
    .menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  } */